@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800,600&subset=latin,cyrillic);
.button-blue {
  border: 1px solid #01718f;
  border-radius: 4px;
  background: #0c6c9e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #064261 0%, #04283b 50%, #064261 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #064261), color-stop(50%, #04283b), color-stop(100%, #0c6c9e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #064261 0%, #04283b 50%, #064261 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #064261 0%, #04283b 50%, #064261 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #064261 0%, #04283b 50%, #064261 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #064261 0%, #04283b 50%, #064261 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#064261', endColorstr='#064261',GradientType=0 );
  /* IE6-9 */
  color: #ffffff; }
  .button-blue:hover {
    background: #0c6c9e;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0c6c9e 0%, #07405e 50%, #0c6c9e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c6c9e), color-stop(50%, #07405e), color-stop(100%, #0c6c9e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0c6c9e 0%, #07405e 50%, #0c6c9e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0c6c9e 0%, #07405e 50%, #0c6c9e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0c6c9e 0%, #07405e 50%, #0c6c9e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0c6c9e 0%, #07405e 50%, #0c6c9e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c6c9e', endColorstr='#0c6c9e',GradientType=0 );
    /* IE6-9 */
    color: #ffffff; }

.button-orange {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.33);
  border: 1px solid #ffa500;
  border-radius: 4px;
  background: #ffcb41;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffcb41 0%, #ffac38 50%, #ffcb41 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcb41), color-stop(50%, #ffac38), color-stop(100%, #ffcb41));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffcb41 0%, #ffac38 50%, #ffcb41 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffcb41 0%, #ffac38 50%, #ffcb41 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffcb41 0%, #ffac38 50%, #ffcb41 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffcb41 0%, #ffac38 50%, #ffcb41 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb41', endColorstr='#ffac38',GradientType=0 );
  /* IE6-9 */ }
  .button-orange:hover {
    color: #000000;
    background: #ffcb41;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffba24 0%, #ff9c1d 50%, #ffba24 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffba24), color-stop(50%, #ff9c1d), color-stop(100%, #ffba24));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffba24 0%, #ff9c1d 50%, #ffba24 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffba24 0%, #ff9c1d 50%, #ffba24 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffba24 0%, #ff9c1d 50%, #ffba24 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffba24 0%, #ff9c1d 50%, #ffba24 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba24', endColorstr='#ffac38',GradientType=0 );
    /* IE6-9 */ }

.button-blue-round {
  color: #ffffff;
  line-height: 38px;
  border-radius: 20px;
  white-space: nowrap;
  font-size: 12px;
  border: 1px solid #01718f;
  background: #064261;
  /* Old browsers */
  background: -moz-linear-gradient(top, #064261 0%, #04283b 50%, #064160 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #064261), color-stop(50%, #04283b), color-stop(100%, #064160));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #064261 0%, #04283b 50%, #064160 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #064261 0%, #04283b 50%, #064160 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #064261 0%, #04283b 50%, #064160 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #064261 0%, #04283b 50%, #064160 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#064261', endColorstr='#064160',GradientType=0 );
  /* IE6-9 */ }
  .button-blue-round:hover {
    text-decoration: none;
    color: #ffffff;
    background: #0c6c9e;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0c6c9e 0%, #07405e 50%, #0c6b9c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c6c9e), color-stop(50%, #07405e), color-stop(100%, #0c6b9c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0c6c9e 0%, #07405e 50%, #0c6b9c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0c6c9e 0%, #07405e 50%, #0c6b9c 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0c6c9e 0%, #07405e 50%, #0c6b9c 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0c6c9e 0%, #07405e 50%, #0c6b9c 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c6c9e', endColorstr='#0c6b9c',GradientType=0 );
    /* IE6-9 */ }

* {
  box-sizing: border-box; }

body {
  font: 14px/1.8 "Open Sans", sans-serif;
  background-color: #01718f; }

h1,
.h1 {
  color: #016a88;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 39px 0 12px;
  line-height: 1.2; }

h2 {
  color: #016a88;
  font-size: 20px;
  font-weight: 700; }

h3 {
  color: #016a88;
  font-size: 18px;
  font-weight: 600; }

.block-introtext {
  margin: 0 0 18px; }

.block-content {
  margin: 24px 0; }

.wrapper {
  background: #01718f url("../img/bg-header.jpg") no-repeat center 60px;
  overflow: hidden;
  position: relative;
  z-index: 1; }

.wrapper__bg {
  background: url("../img/footer.jpg") no-repeat center bottom;
  background-size: 100%; }

.toolbar {
  background: url("../img/bg-toolbar.jpg") repeat-x center top; }

.header {
  position: relative; }

.toolbar-auth {
  line-height: 36px;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6);
  margin: 9px 0;
  position: relative;
  z-index: 20; }

.toolbar-auth__login img {
  position: relative;
  top: -2px;
  left: -4px; }

.toolbar-auth__reg {
  color: #b6efff;
  font-size: 12px;
  text-decoration: underline;
  margin: 0 13px; }
  .toolbar-auth__reg:hover {
    color: #ffffff; }

.mini-cart {
  border-left: 1px solid #006584;
  padding: 8px 8px 6px;
  overflow: hidden;
  max-height: 100%;
  position: relative;
  z-index: 20; }
  @media (max-width: 768px) {
    .mini-cart {
      border-left: 0;
      padding-right: 0; } }

.mini-cart__ico {
  width: 46px;
  height: 46px;
  float: left;
  border: 2px solid #169bbb;
  border-radius: 50%;
  margin-right: 25px;
  margin-left: 2px;
  background: url("../img/icon-cart.png") no-repeat center center; }
  .mini-cart__ico:hover {
    border-color: #ffee00;
    background-image: url("../img/icon-cart-h.png"); }
  @media (max-width: 768px) {
    .mini-cart__ico {
      margin: 0; } }

.mini-cart__info {
  float: left;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6);
  margin-right: 32px;
  white-space: nowrap; }
  @media (max-width: 768px) {
    .mini-cart__info {
      display: none; } }

.mini-cart__lbl {
  color: #b6efff;
  font-size: 12px; }

.mini-cart__val {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold; }

.header {
  min-height: 170px; }

.header-logo {
  position: relative;
  width: 284px;
  height: 102px;
  margin: 29px 0 9px 2px; }

.header-logo__image {
  position: absolute;
  left: 0;
  top: 0; }

.header-logo__text {
  position: absolute;
  left: 78px;
  top: 76px;
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  padding-left: 10px; }
  .header-logo__text span {
    display: block;
    font-size: 12px; }
  .header-logo__text:before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: #ffffff;
    left: 0;
    top: 1px; }

.header-cats {
  padding: 30px 0 0;
  float: right; }
  @media (max-width: 960px) {
    .header-cats {
      padding: 10px 0 0;
      float: none;
      clear: both; } }

.header-cat {
  text-shadow: 0 1px 0 #004254;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background: url("../img/header-menu.png") no-repeat -12px 0;
  height: 104px;
  width: 92px;
  display: block;
  margin: 5px auto;
  text-decoration: none; }
  .header-cat:hover {
    color: #ffffff;
    text-decoration: none; }
  .header-cat.idx1 {
    background-position: -12px -16px; }
    .header-cat.idx1:hover {
      background-position: -12px -148px; }
  .header-cat.idx2 {
    background-position: -112px -16px; }
    .header-cat.idx2:hover {
      background-position: -112px -148px; }
  .header-cat.idx3 {
    background-position: -212px -16px; }
    .header-cat.idx3:hover {
      background-position: -212px -148px; }
  .header-cat.idx4 {
    background-position: -312px -16px; }
    .header-cat.idx4:hover {
      background-position: -312px -148px; }
  .header-cat.idx5 {
    background-position: -414px -16px; }
    .header-cat.idx5:hover {
      background-position: -414px -148px; }
  .header-cat.idx6 {
    background-position: -514px -16px; }
    .header-cat.idx6:hover {
      background-position: -514px -148px; }
  .header-cat span {
    display: block;
    text-align: center;
    padding: 61px 0 0; }
    .header-cat span._uppercase {
      padding: 69px 0 0;
      text-transform: uppercase; }

@media (min-width: 768px) {
  .slideout-menu__toggle {
    display: none; }

  .catalog-menu {
    background-color: #002c39;
    position: relative;
    z-index: 999; }

  .catalog-menu__main {
    padding: 0 80px 0 0;
    margin: 0 -10px;
    height: 71px;
    overflow: hidden; }
    .catalog-menu__main.uk-hidden {
      display: block !important;
      visibility: visible !important; }
    .catalog-menu__main > li {
      display: inline-block;
      list-style: none;
      border-left: 1px solid #003f51;
      vertical-align: middle;
      padding: 8px 10px; }
      .catalog-menu__main > li:first-child {
        border-left: 0; }
      .catalog-menu__main > li > a {
        color: #ffffff;
        font-size: 14px;
        line-height: 18px;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #004254;
        display: inline-block;
        padding: 8px;
        border-radius: 6px;
        border: 1px solid transparent; }
        .catalog-menu__main > li > a span {
          display: block; }
        .catalog-menu__main > li > a:hover {
          border-color: #038db2 #015e78 #00495d;
          background: #05a6ca;
          /* Old browsers */
          background: -moz-linear-gradient(top, #05a6ca 0%, #016a87 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #05a6ca), color-stop(100%, #016a87));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #05a6ca 0%, #016a87 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #05a6ca 0%, #016a87 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #05a6ca 0%, #016a87 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #05a6ca 0%, #016a87 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05a6ca', endColorstr='#016a87',GradientType=0 );
          /* IE6-9 */ }
      .catalog-menu__main > li.parent > a:after {
        content: "\f0d7";
        color: #169bbb;
        display: inline;
        font-size: 10px;
        font-family: FontAwesome;
        margin-left: 5px;
        text-shadow: none;
        top: -1px;
        position: relative; }

  .c-m-inner {
    display: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #169bbc; }
    .c-m-inner:before {
      content: '';
      display: block;
      position: absolute;
      width: 50%;
      height: 100%;
      right: 0;
      top: 0;
      background-color: #e4e4e4; }

  .c-m-inner__wrap {
    position: relative;
    overflow: hidden; }
    .c-m-inner__wrap:before {
      content: '';
      display: block;
      position: absolute;
      width: 67%;
      height: 100%;
      right: 0;
      top: 0;
      background-color: #e4e4e4;
      z-index: 1; }
    .c-m-inner__wrap .uk-grid {
      position: relative;
      z-index: 2; }

  .catalog-menu-left .c-m-inner__head {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 0 1px 0 #004254;
    text-transform: uppercase;
    line-height: 1.22;
    padding: 16px 28px 8px 10px; }
    .catalog-menu-left .c-m-inner__head:after {
      content: '';
      display: block;
      height: 1px;
      background-color: #22a6c7;
      margin-top: 8px; }
  .catalog-menu-left .c-m-inner__list {
    padding: 0 55px 10px 10px;
    margin: 0; }
    .catalog-menu-left .c-m-inner__list li {
      display: block;
      list-style: none;
      position: relative; }
      .catalog-menu-left .c-m-inner__list li:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border-top: 19px solid transparent;
        border-left: 12px solid transparent;
        z-index: 2; }
      .catalog-menu-left .c-m-inner__list li:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 19px solid transparent;
        border-left: 12px solid transparent;
        z-index: 2; }
      .catalog-menu-left .c-m-inner__list li a {
        color: #ffffff;
        font-size: 18px;
        line-height: 1;
        text-transform: none;
        display: block;
        padding: 10px 10px;
        margin: 10px 0;
        position: relative;
        z-index: 1; }
        .catalog-menu-left .c-m-inner__list li a img {
          display: none; }
        .catalog-menu-left .c-m-inner__list li a:hover {
          background-color: #002c39;
          text-decoration: none; }
      .catalog-menu-left .c-m-inner__list li:hover:before, .catalog-menu-left .c-m-inner__list li.active:before {
        border-top-color: #169bbc; }
      .catalog-menu-left .c-m-inner__list li:hover:after, .catalog-menu-left .c-m-inner__list li.active:after {
        border-bottom-color: #169bbc; }
      .catalog-menu-left .c-m-inner__list li:hover > a, .catalog-menu-left .c-m-inner__list li.active > a {
        background-color: #002c39;
        text-decoration: none; }
      .catalog-menu-left .c-m-inner__list li.parent > a:after {
        content: "\f0da";
        color: #002c39;
        display: inline;
        font-size: 10px;
        font-family: FontAwesome;
        margin-left: 10px;
        text-shadow: none;
        top: -1px;
        position: relative; }
    .catalog-menu-left .c-m-inner__list .c-m-inner__outer {
      display: none; }

  .catalog-menu-right .c-m-inner__head {
    color: #016a88;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
    padding: 22px 20px 26px; }
  .catalog-menu-right .c-m-inner__list {
    overflow: hidden;
    padding: 0 8px;
    margin: 0; }
    .catalog-menu-right .c-m-inner__list li {
      list-style: none;
      float: left;
      width: 25%;
      text-align: center;
      padding: 5px;
      line-height: 1.2;
      margin-bottom: 32px; }
      .catalog-menu-right .c-m-inner__list li a {
        color: #016a88;
        text-decoration: underline; }
        .catalog-menu-right .c-m-inner__list li a img {
          display: block;
          width: 100%;
          margin: 0 0 6px; }
        .catalog-menu-right .c-m-inner__list li a:hover {
          color: #cc0033; }
      .catalog-menu-right .c-m-inner__list li:nth-child(4n+1) {
        clear: both; } }
@media (max-width: 768px) {
  .catalog-menu {
    display: none; } }
.slideout-menu__toggle {
  height: 70px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-shadow: 0 1px 0 #004254;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  z-index: 20;
  background: #002c39; }
  .slideout-menu__toggle i {
    font-size: 30px;
    float: left;
    margin: 3px 12px 0 0px; }
  .slideout-menu__toggle span {
    display: inline-block;
    padding: 16px 10px; }
    .slideout-menu__toggle span:after {
      content: "\f0d7";
      color: #169bbb;
      display: inline;
      font-size: 10px;
      font-family: FontAwesome;
      margin-left: 5px;
      text-shadow: none;
      top: -1px;
      position: relative; }

body {
  width: 100%;
  height: 100%; }

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 280px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: #ffffff; }

.slideout-menu__close {
  float: right;
  background: url("../img/close.png") no-repeat;
  width: 18px;
  height: 18px;
  margin: 3px; }

.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }
.slideout-open .slideout-menu {
  display: block; }
.slideout-open .slideout-menu__toggle span {
  color: #ffffff;
  background: #05a6ca;
  /* Old browsers */
  background: -moz-linear-gradient(top, #05a6ca 0%, #015c76 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #05a6ca), color-stop(100%, #015c76));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #05a6ca 0%, #015c76 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #05a6ca 0%, #015c76 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #05a6ca 0%, #015c76 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #05a6ca 0%, #015c76 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05a6ca', endColorstr='#015c76',GradientType=0 );
  /* IE6-9 */ }
.slideout-open .wrapper__bg {
  position: relative; }
  .slideout-open .wrapper__bg:after {
    content: '';
    display: block;
    width: 10px;
    height: 100%;
    position: absolute;
    left: -10px;
    top: 0;
    z-index: 9999;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.6); }

.slideout-menu {
  text-align: right;
  line-height: 1.5; }
  .slideout-menu > ul {
    padding: 0;
    margin: 0;
    clear: both; }

.slideout-menu__lvl1 {
  list-style: none;
  display: block;
  border-top: 1px solid #e4e4e4;
  position: relative; }
  .slideout-menu__lvl1 > a {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 14px 14px 8px;
    border-right: 1px solid #e4e4e4;
    overflow: hidden; }
    .slideout-menu__lvl1 > a span {
      font-size: 12px;
      font-weight: 400;
      text-transform: none;
      display: block; }
    .slideout-menu__lvl1 > a:hover {
      color: #3399ff; }
      .slideout-menu__lvl1 > a:hover span {
        color: #000000; }
  .slideout-menu__lvl1 > ul {
    padding: 4px 0;
    margin: 0 53px 0 0;
    border-top: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    display: none; }
  .slideout-menu__lvl1 > ._toggle {
    float: right;
    width: 53px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer; }
    .slideout-menu__lvl1 > ._toggle i {
      width: 37px;
      height: 37px;
      color: #000000;
      text-align: center;
      line-height: 37px;
      font-size: 32px; }
    .slideout-menu__lvl1 > ._toggle:hover i {
      color: #ffffff;
      background-color: rgba(102, 153, 255, 0.7); }

.slideout-menu__lvl2 {
  list-style: none;
  display: block;
  position: relative; }
  .slideout-menu__lvl2 > a {
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    display: block;
    padding: 5px 17px;
    text-decoration: none; }
    .slideout-menu__lvl2 > a span {
      font-style: italic;
      display: block; }
    .slideout-menu__lvl2 > a:hover {
      color: #3399ff; }
  .slideout-menu__lvl2 > ul {
    padding: 4px 0;
    margin: 0;
    background-color: #e4e4e4;
    display: none; }
  .slideout-menu__lvl2 > ._toggle {
    position: absolute;
    right: -44px;
    top: 5px;
    width: 37px;
    color: #000000;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    cursor: pointer; }
    .slideout-menu__lvl2 > ._toggle:hover {
      color: #3399ff; }

.slideout-menu__lvl3 {
  list-style: none;
  display: block; }
  .slideout-menu__lvl3 > a {
    color: #169bbb;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
    display: block;
    padding: 2px 10px; }
    .slideout-menu__lvl3 > a span {
      font-style: italic;
      display: block; }
    .slideout-menu__lvl3 > a:hover {
      color: #cc0033; }
  .slideout-menu__lvl3 > ul {
    padding: 0;
    margin: 0; }

.toolbar-search {
  position: relative;
  z-index: 10; }
  @media (max-width: 960px) {
    .toolbar-search .toolbar-search__link {
      display: block; }
    .toolbar-search .toolbar-search__form {
      display: none; } }
  @media (max-width: 768px) {
    .toolbar-search .toolbar-search__link {
      display: none; }
    .toolbar-search .toolbar-search__form {
      display: block;
      margin: 70px auto 0; } }

.toolbar-search__input {
  border-radius: 20px;
  border: 1px solid #01718f;
  position: relative;
  z-index: 10;
  height: 38px;
  padding: 0 18px;
  font-size: 12px;
  color: #666666;
  width: 100%; }

.toolbar-search__btn {
  position: absolute;
  right: 12px;
  bottom: 7px;
  z-index: 20;
  border: 0;
  background: url("../img/icon-search.png") no-repeat;
  width: 22px;
  height: 22px;
  opacity: 0.7;
  cursor: pointer; }
  .toolbar-search__btn:hover {
    opacity: 1; }

.toolbar-search__form {
  display: block;
  width: 303px;
  position: relative;
  margin: 10px auto 10px 250px; }

.toolbar-search__link {
  display: none;
  width: 92px;
  margin: 10px auto 10px 250px; }
  .toolbar-search__link img {
    position: relative;
    left: -6px;
    top: -2px; }

.slider {
  padding: 8px;
  background-color: #5ba3b7; }
  @media (max-width: 768px) {
    .slider {
      padding: 2px; } }
  .slider .bx-wrapper {
    position: relative; }
  .slider .bx-prev,
  .slider .bx-next {
    background-color: rgba(0, 0, 0, 0.5);
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 0;
    font-size: 36px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    line-height: 64px; }
    @media (max-width: 768px) {
      .slider .bx-prev,
      .slider .bx-next {
        width: 22px;
        height: 22px;
        line-height: 22px;
        font-size: 16px; } }
    .slider .bx-prev:hover,
    .slider .bx-next:hover {
      background-color: black; }
  .slider .bx-prev {
    left: 0; }
  .slider .bx-next {
    right: 0; }
  .slider .bx-pager {
    position: absolute;
    text-align: center;
    bottom: 5%;
    left: 0;
    width: 100%; }
  .slider .bx-pager-item {
    display: inline-block;
    margin: 0 2px; }
    .slider .bx-pager-item a {
      border-radius: 50%;
      background-color: #b6efff;
      width: 21px;
      height: 21px;
      display: inline-block;
      text-indent: -9999px;
      border: 1px solid #5ba3b7; }
      .slider .bx-pager-item a.active {
        border-color: #026c89;
        background: -webkit-linear-gradient(90deg, #016986 0%, #05a6ca 100%);
        background: -moz-linear-gradient(90deg, #016986 0%, #05a6ca 100%);
        background: -o-linear-gradient(90deg, #016986 0%, #05a6ca 100%);
        background: -ms-linear-gradient(90deg, #016986 0%, #05a6ca 100%);
        background: linear-gradient(0deg, #016986 0%, #05a6ca 100%); }

.slider-item {
  position: relative; }

.slider__image {
  width: 100%;
  position: relative;
  z-index: 10;
  display: block; }

.slider__info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  padding: 10% 22% 10% 6%; }
  @media (max-width: 768px) {
    .slider__info {
      padding: 2% 27% 7% 1%; } }

.slider__title {
  z-index: 20;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  padding: 26px 18px;
  background-color: #ffee00;
  text-transform: uppercase;
  margin: 0 0 15px; }
  @media (max-width: 768px) {
    .slider__title {
      font-size: 14px;
      padding: 6px;
      margin-bottom: 10px; } }

.slider__more {
  z-index: 20; }
  .slider__more a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6); }
  @media (max-width: 768px) {
    .slider__more a {
      font-size: 14px;
      min-height: 32px;
      line-height: 32px; } }

.products-tabs-title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  background-color: #ffee00;
  text-transform: uppercase;
  padding: 13px 10px;
  margin: 10px 10px 10px 0;
  float: left;
  letter-spacing: -1px; }
  @media (max-width: 960px) {
    .products-tabs-title {
      float: none;
      display: block;
      margin-right: 0; } }

.products-tabs-switcher {
  margin: 10px 0;
  height: 44px; }
  .products-tabs-switcher span {
    color: #666;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 11px;
    cursor: pointer; }
    .products-tabs-switcher span u {
      border-bottom: 2px dotted #666666;
      text-decoration: none; }
    .products-tabs-switcher span:hover {
      border-color: #5ba3b7;
      background-color: #ffffff;
      color: #333333; }
      .products-tabs-switcher span:hover u {
        border-color: #ffffff; }
  .products-tabs-switcher .ionTabs__tab_state_active span {
    border-color: #5ba3b7;
    background-color: #ffffff;
    color: #333333; }
    .products-tabs-switcher .ionTabs__tab_state_active span u {
      border-color: #ffffff; }
  .products-tabs-switcher._white span {
    color: #ffffff; }
    .products-tabs-switcher._white span u {
      border-color: #ffffff; }
    .products-tabs-switcher._white span:hover {
      color: #333333; }
  .products-tabs-switcher._white .ionTabs__tab_state_active span {
    color: #333333; }

.products-tabs__head {
  overflow: hidden;
  margin: 5px 0; }

.products-item {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #01556b;
  position: relative;
  overflow: hidden; }

.products-item__image {
  display: block;
  text-align: center; }

.products-item__info {
  padding: 10px; }

.products-item__name {
  color: #016a88;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  padding: 12px 0;
  display: block; }
  .products-item__name:hover {
    color: #cc0033; }

.products-item__mark {
  position: absolute;
  width: 69px;
  height: 82px;
  overflow: hidden;
  right: 0;
  top: 0; }
  .products-item__mark:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 0;
    height: 0;
    border-top: 82px solid #666666;
    border-left: 69px solid transparent; }
  .products-item__mark span {
    position: absolute;
    z-index: 20;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    top: 15px;
    left: 32px; }
  .products-item__mark._new:after {
    border-top-color: #009933; }
  .products-item__mark._hit:after {
    border-top-color: #e65100; }
  .products-item__mark._sale:after {
    border-top-color: #0099cc; }

.products-item__vendor {
  color: #666666;
  font-size: 14px;
  line-height: 18px; }

.products-item__price {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 8px 0 17px; }

.products-item__add {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  padding: 0 8px; }
  .products-item__add img {
    position: relative;
    top: -2px; }

.products-item__more {
  color: #0099cc;
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline;
  margin-left: 22px; }
  .products-item__more:hover {
    color: #cc0033; }

.products-cell {
  margin-bottom: 10px; }

@media (max-width: 480px) {
  .h-about__wrap {
    display: none; } }

.about-slider {
  border-radius: 5px;
  border: 1px solid #01556b;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  line-height: 12px; }
  .about-slider .bx-wrapper {
    height: 100%; }
  .about-slider .bx-viewport {
    height: 100% !important; }
    .about-slider .bx-viewport > ul {
      height: 100% !important;
      padding: 0;
      margin: 0; }
      .about-slider .bx-viewport > ul > li {
        height: 100% !important;
        background-color: #ffff00; }
  .about-slider .bx-pager {
    position: absolute;
    right: 10px;
    bottom: 10px; }
  .about-slider .bx-pager-item {
    display: inline-block;
    margin: 0 2px; }
    .about-slider .bx-pager-item a {
      border-radius: 50%;
      background-color: #b6efff;
      width: 12px;
      height: 12px;
      display: inline-block;
      text-indent: -9999px;
      border: 1px solid #5ba3b7; }
      .about-slider .bx-pager-item a.active {
        border-color: #026c89;
        background: -webkit-linear-gradient(90deg, #016986 0%, #05a6ca 100%);
        background: -moz-linear-gradient(90deg, #016986 0%, #05a6ca 100%);
        background: -o-linear-gradient(90deg, #016986 0%, #05a6ca 100%);
        background: -ms-linear-gradient(90deg, #016986 0%, #05a6ca 100%);
        background: linear-gradient(0deg, #016986 0%, #05a6ca 100%); }

.about-slider__image {
  display: block;
  width: 100%; }

.h-about {
  border-radius: 5px;
  border: 1px solid #01556b;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 26px 12px; }
  @media (min-width: 768px) and (max-width: 960px) {
    .h-about {
      padding: 3px 12px; } }

.h-about__time {
  float: right;
  color: #01718f;
  font-size: 18px;
  font-weight: 700;
  text-align: center; }
  .h-about__time ._big {
    font-size: 30px;
    line-height: 24px;
    margin: 0 0 16px; }
  .h-about__time ._small {
    font-size: 16px; }
  .h-about__time ._num {
    font-size: 48px; }
  @media (min-width: 768px) and (max-width: 960px) {
    .h-about__time {
      font-size: 16px;
      padding: 13px 0; }
      .h-about__time ._big {
        font-size: 25px;
        line-height: 18px;
        margin: 0 0 15px; }
      .h-about__time ._small {
        font-size: 15px; }
      .h-about__time ._num {
        font-size: 42px; } }

.h-about__title {
  color: #016a88;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 19px;
  line-height: 1; }

.h-about__desc {
  color: #666666;
  font-size: 14px;
  line-height: 1.35; }

.h-about__more {
  font-size: 12px; }
  .h-about__more a {
    color: #0099cc; }

.white-container {
  border-radius: 5px;
  border: 1px solid #01556b;
  background-color: #ffffff;
  position: relative;
  overflow: hidden; }

.content {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #01556b;
  background-color: #ffffff;
  position: relative;
  overflow: hidden; }

.why-we {
  margin: 20px 0; }

.why-we__title {
  background-color: rgba(90, 163, 182, 0.2);
  color: #016a88;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  padding: 9px 12px; }

.why-we__table {
  margin: 4px 14px; }

.why-we-item {
  position: relative;
  padding-left: 32px;
  margin: 20px 0; }

.why-we-item__icon {
  position: absolute;
  left: 0;
  top: 0; }

.why-we-item__title {
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 4px 0 16px;
  line-height: 1.2; }

.why-we-item__text {
  color: #666666;
  font-size: 14px;
  line-height: 1.35; }
  .why-we-item__text strong {
    color: #000000; }

.workflow__title {
  background-color: rgba(90, 163, 182, 0.2);
  color: #016a88;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  padding: 17px 12px;
  text-transform: uppercase; }

.workflow__items {
  padding: 17px 14px; }

.workflow-item {
  position: relative;
  padding-left: 26px;
  margin: 20px 0; }

.workflow-item__num {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1.1;
  font-weight: bold;
  font-size: 18px;
  color: #45b7c8; }

.workflow-item__name {
  font-weight: bold;
  font-size: 18px;
  color: #45b7c8;
  line-height: 1.2;
  margin: 0 0 15px; }
  .workflow-item__name span {
    display: block; }
  @media (max-width: 480px) {
    .workflow-item__name span {
      display: inline; } }

.workflow-item__desc {
  font-size: 14px;
  color: #666666;
  font-style: italic;
  line-height: 1.3; }

.h-reviews__title {
  background-color: rgba(90, 163, 182, 0.2);
  color: #016a88;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  padding: 17px 12px;
  text-transform: uppercase; }

.h-reviews__all {
  border: 2px solid #5ba3b7;
  border-radius: 5px;
  line-height: 30px;
  white-space: nowrap;
  padding: 0 20px;
  font-size: 11px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  margin: -8px 0; }
  .h-reviews__all:hover {
    background-color: #027290;
    color: #ffffff;
    text-decoration: none; }

.h-reviews__items {
  padding: 3px 28px; }

.h-review {
  margin: 25px 0; }

.h-review__image {
  margin-right: 7px;
  float: left; }
  .h-review__image img {
    border-radius: 10px;
    display: block; }

.h-review__info {
  overflow: hidden;
  position: relative;
  padding-bottom: 36px;
  min-height: 100px; }

.h-review__name {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  line-height: 1.2;
  padding: 13px 0 4px; }

.h-review__address {
  font-size: 12px;
  color: #333333;
  line-height: 1.2; }

.h-review__links {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1; }

.h-review__vk {
  background: url("../img/icon-vk.jpg") no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block; }

.h-review__desc {
  font-size: 12px;
  color: #666666;
  font-style: italic;
  position: relative;
  clear: both;
  margin: 18px 5px; }

.h-review__quote {
  position: absolute;
  left: -16px;
  top: 2px;
  color: #999999; }

.h-review__more {
  font-size: 12px; }
  .h-review__more a {
    color: #0099cc;
    text-decoration: underline; }

.h-text-block {
  padding: 32px 15px 20px; }

.h-text-block__title {
  font-weight: 600;
  color: #016a88;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 11px; }

.h-text-block__desc {
  font-size: 12px;
  color: #666666;
  line-height: 1.2; }

.footer__text {
  width: 280px;
  margin: 34px auto 0; }

.footer__copyright {
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 14px; }

.footer__socials {
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold; }
  .footer__socials a._vk {
    background: url("../img/icon-vk.jpg") no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px; }

.footer__info {
  width: 420px;
  margin: 115px auto 20px;
  max-width: 100%; }
  @media (max-width: 480px) {
    .footer__info {
      margin: 0 auto 20px; } }

.footer__creator {
  text-align: center;
  width: 150px;
  margin: 0 auto; }
  .footer__creator a {
    color: #ffffff;
    font-size: 12px;
    text-decoration: underline; }
  @media (max-width: 480px) {
    .footer__creator {
      margin: 34px auto 0; }
      .footer__creator img {
        width: 110px; } }

.footer__counter {
  float: left;
  text-align: center;
  margin: 26px 0 0; }
  @media (max-width: 480px) {
    .footer__counter {
      float: none;
      display: block;
      margin: 15px 0 0; } }

.footer__map {
  float: right;
  text-align: center;
  margin: 30px 0 0; }
  .footer__map a {
    color: #ffffff;
    font-size: 12px;
    text-decoration: underline; }
  @media (max-width: 480px) {
    .footer__map {
      float: none;
      text-align: center;
      margin: 5px 0 0; } }

/* Ion.Tabs
// css version 1.0.0
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/
/* =====================================================================================================================
// Ion.Tabs: Base */
.ionTabs {
  position: relative; }

.ionTabs__head {
  position: relative;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1; }

.ionTabs__head:before,
.ionTabs__head:after {
  content: "";
  display: table; }

.ionTabs__head:after {
  clear: both; }

.ionTabs__head {
  zoom: 1; }

.ionTabs__tab {
  position: relative;
  display: block;
  float: left;
  list-style-type: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer; }

.ionTabs__tab.ionTabs__tab_state_active {
  cursor: default; }

.ionTabs__body {
  position: relative;
  z-index: 2; }

.ionTabs__item {
  position: relative;
  display: none; }

.ionTabs__item.ionTabs__item_state_active {
  display: block; }

.ionTabs__preloader {
  position: relative; }

.breadcrumbs {
  font-size: 12px;
  font-style: italic;
  color: #ffffff;
  line-height: 1.5;
  border-top: 1px solid #0089ae;
  border-bottom: 1px solid #0089ae;
  padding: 13px 0;
  margin: 0px 0 8px; }
  .breadcrumbs a {
    color: #cccccc;
    text-decoration: underline; }

.left-menu {
  text-align: right;
  line-height: 1.5;
  margin: -10px 0 26px; }
  .left-menu > ul {
    padding: 0;
    margin: 0;
    clear: both; }

.left-menu__lvl1 {
  list-style: none;
  display: block;
  border-top: 1px solid #e4e4e4;
  position: relative; }
  .left-menu__lvl1:first-child {
    border-top: 0; }
  .left-menu__lvl1:last-child {
    border-bottom: 1px solid #e4e4e4; }
  .left-menu__lvl1 > a {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 14px 14px 8px;
    overflow: hidden; }
    .left-menu__lvl1 > a span {
      font-size: 12px;
      font-weight: 400;
      text-transform: none;
      display: block; }
    .left-menu__lvl1 > a:hover {
      color: #3399ff; }
      .left-menu__lvl1 > a:hover span {
        color: #000000; }
    .left-menu__lvl1 > a._yellow {
      background-color: #ffee00; }
  .left-menu__lvl1 > ul {
    padding: 4px 0;
    margin: 0;
    border-top: 1px solid #e4e4e4;
    display: none; }
  .left-menu__lvl1 > ._toggle {
    position: absolute;
    right: -6px;
    top: 16px;
    width: 20px;
    color: #000000;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    cursor: pointer; }
    .left-menu__lvl1 > ._toggle:hover {
      color: #3399ff; }

.left-menu__lvl2 {
  list-style: none;
  display: block;
  position: relative; }
  .left-menu__lvl2 > a {
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    display: block;
    padding: 5px 17px;
    text-decoration: none; }
    .left-menu__lvl2 > a span {
      font-style: italic;
      display: block; }
    .left-menu__lvl2 > a:hover {
      color: #3399ff; }
  .left-menu__lvl2 > ul {
    padding: 4px 0;
    margin: 0;
    background-color: #e4e4e4;
    display: none; }
  .left-menu__lvl2 > ._toggle {
    position: absolute;
    right: -3px;
    top: 7px;
    width: 20px;
    color: #000000;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    cursor: pointer; }
    .left-menu__lvl2 > ._toggle:hover {
      color: #3399ff; }

.left-menu__lvl3 {
  list-style: none;
  display: block; }
  .left-menu__lvl3 > a {
    color: #169bbb;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
    display: block;
    padding: 2px 17px; }
    .left-menu__lvl3 > a span {
      font-style: italic;
      display: block; }
    .left-menu__lvl3 > a:hover {
      color: #cc0033; }
  .left-menu__lvl3 > ul {
    padding: 0;
    margin: 0; }

.side-text-block {
  padding: 20px 0; }

.side-text-block__title {
  font-weight: 600;
  color: #016a88;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 11px; }

.side-text-block__desc {
  font-size: 12px;
  color: #666666;
  line-height: 1.5; }

.inline-payments {
  margin: 23px 0; }
  .inline-payments._center {
    margin: 14px 25px;
    text-align: center; }

.inline-feedback {
  position: relative;
  margin: 14px 0;
  max-width: 285px; }
  .inline-feedback input {
    position: relative;
    z-index: 10;
    font-size: 12px;
    color: #666666;
    line-height: 1;
    padding: 12px 20px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #01718f;
    width: 100%; }
  .inline-feedback button {
    position: absolute;
    z-index: 20;
    right: 4px;
    top: 4px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    padding: 0;
    cursor: pointer; }
    .inline-feedback button img {
      display: block;
      margin: -1px auto 0; }

.sidebar-action img {
  width: 100%; }

.actions-slider {
  margin: 8px 0;
  border-radius: 3px;
  overflow: hidden;
  position: relative; }

.actions-slide {
  position: relative;
  height: 170px; }
  @media (max-width: 480px) {
    .actions-slide {
      height: 106px; } }

.actions-slide__text {
  position: absolute;
  z-index: 20; }

.actions-slide__more {
  position: absolute;
  z-index: 20; }
  @media (max-width: 480px) {
    .actions-slide__more a {
      line-height: 24px;
      min-height: 26px; } }

.actions-slide._first {
  background: #0080c7 url("../img/actions-slide-1.jpg") no-repeat left top; }
  .actions-slide._first .actions-slide__more {
    bottom: 14px;
    right: 105px; }
  .actions-slide._first .actions-slide__text {
    top: 24px;
    right: 53px; }
  .actions-slide._first ._small {
    display: none; }
  .actions-slide._first ._large {
    display: block; }
  @media (max-width: 480px) {
    .actions-slide._first {
      background-size: auto 100%; }
      .actions-slide._first .actions-slide__more {
        bottom: 6px;
        right: 5px; }
      .actions-slide._first .actions-slide__text {
        top: 8px;
        right: 5px; }
      .actions-slide._first ._small {
        display: block; }
      .actions-slide._first ._large {
        display: none; } }

.products-sorting {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  color: #333333;
  font-size: 12px;
  margin: 10px 0;
  padding: 5px 0;
  line-height: 30px; }
  .products-sorting a {
    color: #666666;
    text-decoration: none;
    border-bottom: 1px dotted #666666; }
    .products-sorting a:hover {
      color: #000000;
      border-bottom-color: #000000; }

.category {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #01556b;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .category:hover {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75); }
    .category:hover .category__info {
      opacity: 1; }
    .category:hover > .category__image {
      opacity: .3; }
    .category:hover > .category__name {
      opacity: 0; }

.category__info {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(203, 224, 255, 0.4);
  padding: 10px 10px 60px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.category__image {
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.category__name {
  font-size: 14px;
  font-weight: 700;
  margin: 8px 0;
  line-height: 1.3;
  min-height: 60px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .category__name span,
  .category__name a {
    color: #016a88;
    text-decoration: underline; }
    .category__name span:hover,
    .category__name a:hover {
      color: #cc0033; }

.category__desc {
  color: #333333;
  font-size: 14px;
  line-height: 18px;
  min-height: 126px;
  margin-bottom: 10px; }

.category__more {
  position: absolute;
  left: 10px;
  bottom: 10px; }
  .category__more a {
    position: relative;
    color: #000000;
    font-size: 14px;
    line-height: 40px;
    padding-right: 30px;
    font-weight: 700;
    text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.33);
    background: #ffd443;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffd443 0%, #ffbf3d 50%, #ffd443 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd443), color-stop(50%, #ffbf3d), color-stop(100%, #ffd443));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd443 0%, #ffbf3d 50%, #ffd443 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd443 0%, #ffbf3d 50%, #ffd443 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd443 0%, #ffbf3d 50%, #ffd443 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffd443 0%, #ffbf3d 50%, #ffd443 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$middle',GradientType=0 );
    /* IE6-9 */ }
    .category__more a:hover {
      color: #000000;
      background: #ffba24;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ffba24 0%, #ff9c1d 50%, #ffba24 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffba24), color-stop(50%, #ff9c1d), color-stop(100%, #ffba24));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ffba24 0%, #ff9c1d 50%, #ffba24 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ffba24 0%, #ff9c1d 50%, #ffba24 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ffba24 0%, #ff9c1d 50%, #ffba24 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #ffba24 0%, #ff9c1d 50%, #ffba24 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$middle',GradientType=0 );
      /* IE6-9 */ }
    .category__more a:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      border-top: 20px solid #e8f4fe;
      border-left: 10px solid transparent; }
    .category__more a:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 20px solid #e8f4fe;
      border-left: 10px solid transparent; }

.product-title {
  margin: 4px 0;
  text-transform: none; }

.product-gallery {
  float: left;
  width: 40%;
  margin-right: 10px; }
  @media (max-width: 480px) {
    .product-gallery {
      float: none;
      width: 100%; } }
  @media (min-width: 480px) and (max-width: 960px) {
    .product-gallery {
      width: 50%; } }

.product-gallery__main {
  margin-bottom: 10px; }
  .product-gallery__main img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #cccccc; }
    .product-gallery__main img:hover {
      border-color: #009ef9; }

.product-gallery__carousel img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #cccccc; }
  .product-gallery__carousel img:hover {
    border-color: #009ef9; }
.product-gallery__carousel .bx-wrapper {
  padding: 0 25px;
  position: relative; }
.product-gallery__carousel .bx-prev,
.product-gallery__carousel .bx-next {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  font-size: 26px;
  color: #cccccc;
  line-height: 1; }
  .product-gallery__carousel .bx-prev:hover,
  .product-gallery__carousel .bx-next:hover {
    color: #009ef9; }
.product-gallery__carousel .bx-prev {
  left: 0; }
.product-gallery__carousel .bx-next {
  right: 0; }

.product-pricing {
  font-size: 16px;
  color: #333333;
  margin: 28px 34px;
  line-height: 42px; }
  @media (max-width: 480px) {
    .product-pricing {
      margin: 28px 0; } }

.product-pricing__old-price {
  font-size: 24px;
  font-weight: 700;
  text-align: center; }

.product-pricing__discount {
  text-align: center; }

.product-pricing__price {
  font-size: 24px;
  font-weight: 700;
  background-color: #ffeb4a;
  text-align: center; }

.product-desc {
  background-color: #dbeef0;
  padding: 10px;
  overflow: hidden; }

.product-share {
  line-height: 1;
  font-size: 12px;
  margin: 25px 0; }

.product__headline {
  background-color: rgba(90, 163, 182, 0.2);
  color: #016a88;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  padding: 18px 10px;
  text-transform: uppercase;
  margin: 25px 0; }

.product-options {
  padding-left: 18%;
  border-top: 3px solid rgba(204, 204, 204, 0.2); }
  @media (max-width: 768px) {
    .product-options {
      padding-left: 0; } }

.product-options__label {
  font-size: 12px;
  line-height: 38px; }

.product-options__row {
  margin: 15px 0; }

.product-feedback {
  border: 8px solid #3fa5b6;
  padding-bottom: 20px;
  overflow: hidden;
  border-radius: 3px;
  background: #3fa5b6 url("../img/product-feedback.jpg") no-repeat center center;
  background-size: 100% 100%; }

.product-feedback__title {
  background-color: #ffeb4a;
  color: #000000;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px;
  margin-bottom: 28px; }

.product-feedback__input {
  color: #666666;
  font-size: 12px;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #00738d;
  width: 100%; }

.product-feedback__row {
  margin: 20px 10px; }

.product-feedback__button {
  width: 158px;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
  font-weight: bold; }

.product-content {
  padding: 0 10px; }

.input-number {
  position: relative;
  height: 38px;
  width: 80px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin: 2px 30px 2px 0; }
  .input-number input {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    border: 2px solid #cccccc;
    border-radius: 4px;
    padding: 5px; }

.input-number-up,
.input-number-down {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 38px;
  height: 19px;
  background-color: #3fa5b6;
  z-index: 20;
  text-align: center;
  line-height: 19px;
  font-size: 12px;
  cursor: pointer;
  color: #ffffff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6); }
  .input-number-up:hover,
  .input-number-down:hover {
    background-color: #328391; }

.input-number-up {
  top: 0;
  border-radius: 0 4px 0 0; }

.input-number-down {
  bottom: 0;
  border-radius: 0 0 4px 0; }

/*# sourceMappingURL=styles.css.map */
